*{
	margin: 0;
	padding: 0;
}
.box{
	width: 1200px;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
.head-left{
	width:800px;
	height: 50px;
/*	border: 1px solid blue;*/
}
.head-left ul{
	width: 700px;
	height: 50px;
	/*border: 1px solid blue;*/
	list-style: none;
	margin-left: 167px;
	margin-top: -43px;
}
.head-left ul li{
	width:70px;
	height: 50px;
/*	border: 1px solid blue;*/
	margin-left: 10px;
	text-align: center;
	line-height: 50px;
	float: left;
}
.head-right{
	width: 200px;
	height: 50px;
	/*border: 1px solid blue;*/
	margin-left:1075px;
	margin-top: -25px;
}
.head-right ul{
	list-style: none;
}
.head-right ul:after{
	display: block;
	clear: both;
	content: "";
}
.head-right ul li{
	float: left;
	margin-left: 10px;
}
.section{
	width: 1200px;
	background-color:#f4f4f4;
	/*border: 1px solid blue;*/
}
.lianxi{
	width: 1200px;
	height: 40px;
	line-height: 40px;
	background-color: #d8d8d8;
	border: 1px solid #d8d8d8;
}
.section .center{
	width: 1200px;
	height: 1050px;
	/*border: 1px solid red;*/	
	background-image:url(../img/a5_03.png);
	background-repeat: no-repeat;
	background-color: #f3f3f3;
}
.bottom11{
	width: 700px;
	height: 440px;
	border: 1px solid gray;
	margin: 0 auto;
	margin-top: -470px;
}
.footer{
	width: 1200px;
	height: 80px;
	border: 1px solid #888888;
	background-color: #888888;
	line-height: 80px;
	font-size: 18px;
	text-align: center;
	margin-top: 28px;
	color: white;
}
